.autocomplete-results {
  position: absolute;
  z-index: 999;
  width: 100%;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-top: none;
  display: none;
}

.autocomplete-box {
  height: 70px;
  font-size: 22px !important;
  padding: 0px 25px !important;
}